html {
  height: 100%;
  width: 100%; }

@font-face {
  font-family: "camptonextralight";
  src: url("fonts/rene.bieder_campton.extralight-webfont.woff2") format("woff2");
  src: url("fonts/rene.bieder_campton.extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "camptonbook";
  src: url("fonts/rene.bieder_campton.book-webfont.woff2") format("woff2");
  src: url("fonts/rene.bieder_campton.book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "campton_bookbold";
  src: url("fonts/rene.bieder_campton.bold-webfont.woff2") format("woff2");
  src: url("fonts/rene.bieder_campton.bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "camptonthin";
  src: url("fonts/rene.bieder_campton.thin-webfont.woff2") format("woff2");
  src: url("fonts/rene.bieder_campton.thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
*, *:after, *:before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

body {
  background-color: #1A1C1F;
  margin: 0px;
  height: 100%;
  text-rendering: geometricPrecision;
  font-family: "camptonextralight"; }

h1 {
  font-size: 11.875em;
  color: #1A1C1F;
  text-transform: uppercase;
  font-family: "campton_bookbold"; }

h2 {
  font-size: 2.188em;
  color: white;
  letter-spacing: 2px;
  font-family: "camptonthin";
  margin-top: 0px; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 2.875em;
  color: #1A1C1F;
  margin: 0px;
  padding: 0px; }

h5 {
  font-size: 0.75em;
  color: #1A1C1F;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "camptonbook";
  margin: 0px;
  padding: 0px; }

p {
  font-size: 16px; }

ul {
  list-style: none;
  color: white;
  text-align: right;
  font-size: 1em; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

footer {
  width: 100%;
  height: 200px;
  float: left; }

.hero {
  background-color: white;
  height: 92%;
  width: 100%;
  min-height: 700px;
  max-height: 900px;
  position: relative; }

#logo {
  float: left;
  margin: 40px 0 0 40px; }

.navigation {
  position: absolute;
  float: right;
  right: 40px;
  top: 40px;
  font-size: 1em; }

.birds {
  position: absolute;
  z-index: 20;
  left: 51%;
  top: 8%; }

.mark {
  height: 2px;
  width: 25px;
  position: absolute;
  z-index: 20;
  background-color: #1A1C1F; }

.top {
  left: 4%;
  top: 15%; }

.bot {
  left: 11%;
  top: 20%; }

.big {
  width: 23%;
  top: 43%; }

.name {
  position: absolute;
  top: -2px;
  margin-left: 33%; }

.name h3 {
  position: relative;
  line-height: 24px;
  top: 127px;
  left: 140px;
  z-index: 20; }

.andy {
  position: relative;
  margin: 0px;
  z-index: 22; }

.vizio {
  position: relative;
  left: 160px;
  top: -78px;
  margin: 0px;
  z-index: 22; }

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0; }

.cutter {
  height: 1300px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; }

.yellow-accent {
  background-color: #F3E640;
  height: 2700px;
  width: 475px;
  transform: rotate(45deg);
  transform-origin: left top 0;
  position: absolute;
  top: 0;
  right: -610px; }

.work {
  height: 100%;
  position: relative; }

.work h2 {
  padding: 0 10px; }

.see-work {
  position: absolute;
  height: 65px;
  left: 159px;
  bottom: 0px;
  border-left: 1px solid #1A1C1F;
  padding-left: 30px; }

.black-arrow {
  margin: 22px 0 0 18px;
  float: left; }

.white-arrow {
  float: left;
  margin: 65px 0 0 -9px; }

.see-work h3 {
  float: left; }

.sidebar {
  width: 160px;
  max-width: 180px;
  border-right: 1px solid #3C3D40;
  float: left;
  height: 100%;
  box-sizing: border-box; }

.sidebar ul {
  margin: 110px 40px 0px 0px;
  line-height: 50px; }

.sidebar ul li a {
  transition: color 0.5s ease;
  color: #8A8A8A; }

.sidebar ul li a:hover {
  color: white; }

.selector {
  width: 2px;
  height: 23px;
  background-color: #F3E640;
  float: right;
  position: relative;
  margin-right: -2px;
  margin-top: -237px; }

.content {
  margin-left: 160px; }

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto; }

.category {
  padding-top: 110px;
  float: left;
  width: 100%;
  max-width: 1240px; }

.category img {
  padding: 10px; }

.with-card {
  position: relative; }
  .with-card:hover .description {
    opacity: 1;
    visibility: visible; }

.small-case {
  display: block; }

.description {
  transition: opacity 0.5s ease;
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  background-color: white;
  padding: 20px 30px;
  opacity: 0;
  visibility: hidden;
  height: 125px; }

.video-12 {
  position: relative;
  padding-bottom: 55.25%;
  padding-top: 25px;
  height: 100%; }

.video-12 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px; }

.video-6 {
  position: relative;
  padding-bottom: 27.25%;
  padding-top: 25px;
  height: 100%; }

.video-6 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px; }

.col-4 {
  width: 33.33333%;
  float: left; }

.col-6 {
  width: 50%;
  float: left; }

.col-8 {
  width: 66.66667%;
  float: left; }

.col-12 {
  width: 100%;
  float: left; }

/*# sourceMappingURL=style.css.map */
